body{
    background-color: black;
    color: white;
}
.all{
    min-height: 100vh;
    margin-top: 25%;

}
.container{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.key{
    width: 10px;
    padding: 5px;
    border: 1px solid white;
    margin: 10px;
    height: auto;
}
.play{
    transition: 1000ms ease;
    border: 1px solid yellow;
    box-shadow: 1px 1px 10px white;
}